.filter-container {
   display: flex;
   align-items: center;
   padding-left: 30px;
   margin-top: 30px;
   margin-bottom: 40px;
   height: 80px;
}

.filter-input {
   height: 45px;
   background-color: var(--secondary-color);
   color: var(--gray-light-color-50);
   font-size: 16px;
   border: 1px solid var(--gray-light-color-100);
   border-radius: 10px;
   padding: 12px 5px 12px 20px;
   width: 270px;
}

.filter-input:first-of-type {
   margin-right: 55px;
}

.filter-input::placeholder {
   color: var(--gray-light);
   font-size: 16px;
}
